/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: white;
    background-color: #000000;
}


/* Header Section */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: transparent;
}

header .logo img {
    width: 30x;
    height: 30px;
}
header .logo span {
    font-weight: bold;
    font-size: 30px;
}

header nav ul {
    display: flex;
    list-style-type: none;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    text-decoration: none;
    color: rgb(160, 150, 150);
    font-size: 16px;
}
header nav ul li a:hover {
    text-decoration: underline;
    color: #fff;
}
button {
    background-color: #fff;
    border: none;
    color: black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #fac031;
}

/* Section One */
.section-one {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: transparent;
}

.section-one .left {
    flex: 1;
}
.section-one .left h1{
    font-size: 47px;
    
}
.section-one .left span{
    color: #fac031;
    font-family: mv boli;
    
    font-size: 70px;
}
.section-one.left h2{
    line-height: 50px;
    font-size: 30px;
    width: 690px;
}
.left h2 {
    line-height: 45px;
}

.section-one .right {
    flex: 1;
}


/* Main container for the box */
.boxs {
    width: 600px;
    height: 400px;
    background-color: transparent;
    border-radius: 10px;
 

    overflow: hidden;
    top: 25%;
    right: 5%;  box-shadow: 0 10px 30px #fac031;
    
    
}

/* Top section with three dots (red, yellow, green) */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color:white;
    border-radius: 10px 10px 0 0;
   
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ff3b30; /* Red */
 
 
}

.dot.yellow {
    background-color: #ffcc00;
  
  
     /* Yellow */
}

.dot.green {
    background-color: #4cd964; /* Green */
    margin-right: 85%;
}

/* Code editor container inside the box */
.code-editor {
    padding: 20px;
    background-color: transparent;
    color: #f0f0f0;
    font-family: 'Courier New', monospace;
    font-size: 16px;
    height: calc(100% - 40px); /* Adjust for the top-bar height */
    overflow-y: auto;
    border-radius: 0 0 10px 10px;
}

/* Syntax highlighting for code */
.keyword {
    color: #ff79c6; /* Pink */
}

.string {
    color: #50fa7b; /* Green */
}

.comment {
    color: #6272a4; /* Purple */
}



 
/* Section Two */
.section-two {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color:transparent;
}

.section-two h2{
    font-weight: bold;
    font-size: 30px;
    background: linear-gradient(-225deg,
 #18effe 0%,
 #e30606 29%,
 #160652 67%,
 #ed128e 90%),
linear-gradient(rgb(54, 5, 250) 12%,
 rgb(224, 246, 255) 20%,
 rgb(78, 99, 132) 61%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
animation: wave 3000ms ease alternate infinite;
transition: all 0.9s ease;
}
.section-two h1{
    font-weight: bold;
    font-size: 45px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section-two p{
    font-size: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 16%;
  font-weight: bold;
    color: rgb(160, 150, 150);
    width: 70%;
    line-height: 40px;
}

.video {
   
    margin-top: 40px;
    
}
/*
.boxes {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
}

.box {
    height: 23%;
    background-color: #ae1b6e;
    padding: 20px;
    width: 23%;
    text-align: center;
}*/
.adv-section {
    background-color:transparent;
    border-radius: 1.4rem;
    display: flex;
    flex-wrap: wrap;
   
    gap: 2rem;
    justify-content: center;
    margin: auto;
    padding: 80px 20px;
   
    width: 80%;
  }
  .adv-section .adv-card {
    background: #fac031;
  color:white ;
    border-radius: 1.8rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 170px;
    justify-content: center;
    padding: 2rem;
    transition: all 0.3s ease;
    width: 200px;
    cursor: pointer;
    perspective: 100px;
  }
  .adv-section .adv-card img {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 50px;
  }
  .adv-desc {
    text-align: left;
    font-size: 18px;
    font-family: Poppins, "sans-serif";
    font-weight: 400;
    color: var(--primary-color);
  }
  
  .adv-card:hover {
    background: rgba(255, 46, 99, 1) !important;
    transform: scale(1.05);
    color: #fff !important;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 7px 29px 5px;
  }
  /*center text line style start here*/
  .center-texts{
    align-items: center;
    text-align: center;
    justify-content: center;
    line-height: 60px;
    font-weight: bold;
   
  }
  .center-texts h1{
    font-size: 50px;
    
    
  }
  .center-texts h2{
    background: linear-gradient(-225deg,
    #18effe 0%,
    #e30606 29%,
    #160652 67%,
    #ed128e 90%),
   linear-gradient(rgb(54, 5, 250) 12%,
    rgb(224, 246, 255) 20%,
    rgb(78, 99, 132) 61%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: wave 3000ms ease alternate infinite;
   transition: all 0.9s ease;
  }

/* Section Three */
.section-three{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: transparent;
}
.section-three h2{
    background: linear-gradient(-225deg,
    #18effe 0%,
    #e30606 29%,
    #160652 67%,
    #ed128e 90%),
   linear-gradient(rgb(54, 5, 250) 12%,
    rgb(224, 246, 255) 20%,
    rgb(78, 99, 132) 61%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: wave 3000ms ease alternate infinite;
   transition: all 0.9s ease;
   line-height: 50px;
   
}

.section-three h1{
    font-weight: bold;
    font-size: 35px;
}
.section-three p{
    font-size: 30px;
    line-height: 50px;
}
.left-text, .center-text {
    flex: 1;
    text-align: left;
}

.right-image {
    flex: 1;
}

.right-image img {
    height: 50%;
    width: 60%;
    margin-top: 10%;
}
.fourth-section{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: transparent;
}

.right-side{
    flex: 1;
    text-align: left;
    
}
.subheading{
    background: linear-gradient(-225deg,
    #18effe 0%,
    #e30606 29%,
    #160652 67%,
    #ed128e 90%),
   linear-gradient(rgb(54, 5, 250) 12%,
    rgb(224, 246, 255) 20%,
    rgb(78, 99, 132) 61%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: wave 3000ms ease alternate infinite;
   transition: all 0.9s ease;
   line-height: 50px;
}
.heading{
    font-weight: bold;
    font-size: 35px;
}
.right-side p{
    font-size: 30px;
    line-height: 50px;
}

.left-side {
    flex: 1;
}

.left-side img {
    height: 60%;
    width: 60%;
    margin-top: 10%;

}

/* Section Five */
.section-five {
    text-align: center;
    padding: 50px;
    background-color: transparent;
}

.buttons button {
    background-color: #fff;
    color:black;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #e67e22;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: transparent;
}

/* Responsive Design */
@media (max-width: 768px) {
    .section-one, .section-two, .section-three, .fourth-section {
        flex-direction: column;
    }

    .section-one .left, .section-one .right, .section-three .left-text, .section-three .right-image,
    fourth-section .right-side, fourth-section .left-side {
        margin-bottom: 20px;
    }

    .adv-section {
        flex-direction: column;
    }

    .adv-card {
        width: 100%;
        margin-bottom: 20px;
    }

    .video {
        height: 100%;
        width: 100%;
    }
}
